:root {
    /* fonts */
    --main-font: *Roboto*;
    --secondaty-font:
        font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

    /* text color*/
    --main-color: #212121;
    --second-color: #757575;
    --third-color: #2196F3;

    /*bg-color*/
    --bg-color-one: #2F303A;
    --bg-color-second: #2196F3;
    /*others */
}

/* COOMON STYLES START */

body {
    font-family: 'Roboto';
    font-style: normal;
}

/* Reset */
h1,
h2,
h3,
h4,
p {
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*reset*/

.link {
    text-decoration: none;

}

.list {
    list-style: none;
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    margin: 0px;
}

/* COOMON STYLES END */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 100px;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--third-color);
    display: flex;
    margin-right: 93px;

}

.header-span {
    color: var(--main-color)
}

.nav-header {}

.header-list {}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}

.contact-list {
    margin-left: auto;
}

.header-link {
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.current {
    color: #2196F3
}

.header-contact-tel {
    color: var(--second-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 50px;
}

.header-contact-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--third-color);
}

.link:active {
    color: var(--third-color);
}

.header-link:hover,
.header-link:focus {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #188CE8;
}

.hero {
    background-color: var(--bg-color-one);
    padding-top: 200px;
    padding-bottom: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: var(--bg-color-second);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    display: flex;
}

.benefits {
    padding: 94px 0px;
}

.benefits-list {
    display: flex;
    padding-left: 0px;
}

.benefits-link {
    padding-right: 30px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 10px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--second-color);
    width: 270px;
}

.about {
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
}

.about-photo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 30px;
}

.about-list {
    display: flex;
    justify-content: center;
}

.team {
    padding: 94px 0px;
    background: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.workers {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
}

.workers-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-top: 30px;
}

.workers-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer {
    background: var(--bg-color-one);
}

.footer-bg {
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    margin-right: auto;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-color);
    padding-left: 40px;
    margin-bottom: 20px;
}

.footer-span {
    color: white;
}

.address-list {
    display: flex;
    flex-direction: column;

}

.address-loc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.address-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address-descr:not(:last-child) {
    text-decoration: none;
    list-style: none;
    margin-bottom: 9px;
}

/*  PAGE NUMBER 2  */

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 94px 215px 94px 215px;
}

.btns-container {
    list-style: none;
    display: flex;
    justify-content: center;
}

.btns-list {
    display: flex;
    align-items: center;
}

.nav-btns:hover,
.nav-btns:focus {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: var(--bg-color-second);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.nav-btns {
    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    border-color: #F5F4FA;
    padding: 6px 22px;
    border: 0px;
    margin-left: 6px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
}

.photo-list {
    width: 370px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 30px;
}

.photo-list:nth-child(3n+3) {
    margin-right: 0px;
}

.photo-list:nth-child(n+4) {
    margin-top: 30px;
}

.photo-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
    margin: 20px 0px 4px 0px;
    display: flex;
    padding-left: 24px;
}

.photo-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-bottom: 20px;
    padding-left: 24px;
}

.current-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: var(--bg-color-second);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}